[project]
name = "batch-jobs-example"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.121.0",
    "ruff>=0.14.3",
    "uvicorn>=0.38.0",
]
